<!DOCTYPE html>
<html>
<head>
  <title>New Page</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div id="overlay-container">
    <video id="video" src="WhatsApp Video 2024-10-05 at 00.57.45.mp4" autoplay loop></video>
  </div>
  <div id="text-container">
    <p id="text">
      <span id="typed-text"></span>
    </p>
  </div>
  <a href="lyrics.html" id="back-link">
    <img src="3114883.png" alt="Back Icon" id="back-icon">
  </a>
  <script src="script.js"></script>
</body>
</html>