/* style.css */
body {
  font-family: 'Times New Roman', Times, serif;
}

#lyrics-container {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20 px;
  line-height: 1;
  margin-top: 20px;
  padding: 50px;
  background-color: #a684ac;
  border: 1px solid #090909;
  border-radius: 50px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
}


#lyrics {
  font-style:italic;
  font-weight: bold;
}

#new-page-link {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#gift-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#background-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#background-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  animation: bloom 3s ease-in-out;
}

@keyframes bloom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

#overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
}

#video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#text-container {
  position: absolute;
  top: 50%; /* adjust the top position to place the text above the image */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
  font-family: Arial, sans-serif;
  color: #FFC0CB;
  z-index: 1; /* ensure the text is above the image */
}

#text {
  font-style: italic;
  font-weight: bold;
  animation: type 5s ease-in-out;
}

@keyframes type {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

#back-link {
  position: absolute;
  top: 20px;
  left: 20px;
}

#back-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.greetings{
    font-size: 6rem;
    font-weight: 900;
}
.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .2s ;
}
.greetings > span:nth-child(3){
    animation-delay: .4s ;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .8s;
}

.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

#text-container {
  position: absolute;
  bottom: 0;
  left: 50;
  right: 50;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 70%;
  height: 100%;
  z-index: 1; /* Ensure text is on top of the video */
}

#typed-text {
  font-size: 20px;
  font-weight: bold;
  color: #33CCFF; /* Neon blue color */
  text-shadow: 0 0 10px #33CCFF, 0 0 20px #33CCFF; /* Add neon glow effect */
}
